@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  line-height: 1.5;
  font-weight: 400;
  font-family: fangsong;

  color-scheme: light dark;
  color: #212529;
  background-color: #f8f9fa;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body{
  font-family: 'Roboto', sans-serif;
  background-image: url('/src/assets/images/fondo-pelota.jpg');
  background-color: rgba(255,255,255,0.5);
  background-blend-mode: luminosity;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}


.btn-dark {
  background-color: #212529;
  color: #fff;
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

.btn-circle {
  width: 60px;
  height: 60px;
  padding: 13px 18px;
  border-radius: 60px;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .btn-circle {
    width: 50px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 50px;
  }
  
}